.container {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  padding-bottom: 100%;
  width: 100%;
}

.image img {
  position: absolute;
  inset: 0;
  border-radius: var(--react-lavka-radius-xl);
  background-color: whitesmoke;
}

.image::after {
  background-color: black;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  border-radius: var(--react-lavka-radius-xl);
}

.image:hover::after {
  opacity: 0.1;
}
