@font-face {
  font-family: "Yandex Sans Text";
  src: url("YandexSansText-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("YandexSansDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("YandexSansText-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("YandexSansDisplay-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("YandexSansDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("YandexSansText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("YandexSansText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("YandexSansDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("YandexSansDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("YandexSansText-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("YandexSansText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
